@layer components {
  .control-card-container {
    @apply flex min-w-42 p-4 items-center gap-2.5 rounded-xl border border-grey-300;
  }

  .control-card-container-ready {
    @apply bg-grey-200;
  }

  .control-card-container-active {
    @apply bg-white;
  }

  .control-card-container-inactive {
    @apply bg-grey-300;
  }

  .control-card-inner {
    @apply flex flex-col justify-end items-start gap-[7px] flex-1;
  }

  .control-card-name {
    @apply leading-5.5 font-bold;
  }

  .control-card-name-active,
  .control-card-name-ready {
    @apply text-grey-900;
  }

  .control-card-name-inactive {
    @apply text-grey-600;
  }

  .control-card-status {
    @apply text-sm font-medium leading-5 text-grey-600;
  }

  .control-card-icon-active {
    @apply [&>g>g>rect]:fill-mint;
  }

  .control-card-icon-inactive {
    @apply [&>g>g>rect]:fill-grey-500;
  }

  .control-card-icon-ready {
    @apply [&>g>g>rect]:fill-grey-600;
  }
}
