.admin-table {
    @apply min-w-[67.5rem] max-h-[39rem] w-full;
}

.table-head {
    @apply bg-grey-100 text-grey-600 border-b border-grey-300 sticky top-0;
}

.table-th {
    @apply text-left p-4 text-sm font-semibold leading-5;
}

.table-tr {
    @apply border-b border-dashed border-grey-300;
}

.table-td {
    @apply p-4;
}