@import "tailwindcss";
@import "../components/Button/Button.css";
@import "../components/AdminTable/AdminTable.css";
@import "../components/SmartThingsOAuthModal/SmartThingsOAuthModal.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-grey-100: #F9FAFB;
  --color-grey-200: #F4F6F8;
  --color-grey-300: #DFE3E8;
  --color-grey-400: #C4CDD5;
  --color-grey-500: #919EAB;
  --color-grey-600: #637381;
  --color-grey-700: #454F5B;
  --color-grey-800: #212B36;
  --color-grey-900: #161C24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
