@layer components {
  .order-item-detail-container {
    @apply min-w-87.5 px-4 py-6 rounded-lg border border-grey-300;
  }

  .order-item-detail-text {
    @apply text-sm font-medium leading-5;
  }
}
