.rdp-root {
  @apply flex w-86 h-114 rounded-2xl border border-grey-300 bg-white;
}

.rdp-months-grid-custom {
  @apply relative overflow-hidden;
}

.rdp-nav-custom {
  @apply relative flex flex-row items-center justify-between p-3 pr-5 !h-15 border-b border-grey-300;
}

.rdp-months,
.rdp-month {
  @apply w-86;
}

.rdp-month-caption-custom {
  @apply absolute w-14.5 left-14 top-4.5 font-bold;
}

.rdp-chevron-custom {
  @apply !fill-none stroke-none *:stroke-[#161C24] scale-166;
}

.rdp-month_caption_button {
  @apply flex items-center justify-center p-2 size-9;
}

.rdp-month-grid-custom {
  @apply w-full;
}

.rdp-weeks-custom {
  @apply overflow-hidden;
}

.rdp-weekday-custom {
  @apply size-12 text-grey-900 text-sm font-medium leading-5;
}

.rdp-day-custom {
  @apply border border-grey-300 nth-1:border-l-0;
}

.rdp-day-button-custom {
  @apply w-full p-2  text-center h-14.5;
}

.rdp-outside-custom {
  @apply **:text-grey-500;
}

.rdp-selected-custom {
  @apply bg-grey-200;
}
