.user-profile-container {
  @apply flex p-4 items-center gap-4.5 self-stretch;
}

.user-profile-nickname {
  @apply text-gray-900 text-2xl font-bold leading-8;
}

.user-profile-email {
  @apply text-gray-600 text-sm font-medium leading-5;
}
